moodle-bot-workflow.json
{
  "name": "Moodle AI Briefing Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "9333b5e4-166a-4fa9-84e8-718007a0ada3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Moodle AI Briefing Bot — n8n Code Node (Schedule Filter + Test Mode)\n// ----------------------------------------------------------------------------\n// Author:  Johannes Uth · https://github.com/johannesuth\n// License: MIT\n// Repo:    https://github.com/johannesuth/moodle-ai-briefing-bot\n// ========================================================================================================================================================\n// Was drin ist:\n// - Login via Moodle Web Service API (zuverlaessig, kein HTML-Scraping)\n// - Filter: abgelaufene + erledigte Aufgaben werden ausgeblendet\n// - Aufgaben-Cache: offene Aufgaben werden bei jedem Lauf gezeigt mit gecachten Briefings\n// - ADAPTIVE Summary-Tiefe: bei 137-Seiten-PDF -> ~20 Seiten Summary (Sonnet 4.6)\n//   bei kurzen PDFs -> Haiku, bei langen -> Sonnet mit grossem max_tokens\n// - PDF-Generator nativ (Helvetica, multi-page)\n// - Datei-Umbenennung intelligent via Anthropic\n// - Handschrift-Erkennung (handgeschriebene PDFs werden NICHT zusammengefasst)\n// - Kompakte Email mit Lesezeit-Anzeige + \"Bald faellig\"-Sektion + Subject mit Dringlichkeit\n// - ZIP_MAX_MB 12 (Gmail-sicher), DEFLATE-Compression\n// - Schedule-Filter: nur Mo/Mi/Fr 13:00 Berlin-Zeit (weil n8n-Cron kaputt ist)\n// - Cost-Tracking in Logs\n// - TESTMODUS (ganz oben): TEST_MODE=true ueberspringt den Schedule-Filter\n// ============================================================================\n\n// === TESTMODUS ===\n// true  = Schedule-Filter wird IGNORIERT, Workflow laeuft bei jedem Klick auf \"Execute Workflow\"\n// false = Schedule-Filter aktiv, Workflow laeuft nur Mo/Mi/Fr 13:00-14:30 Berlin-Zeit\nconst TEST_MODE = false;\n\nconst CONFIG = {\n  MOODLE_USERNAME:    '',  // dein Moodle-Login\n  MOODLE_PASSWORD:    '',  // dein Moodle-Passwort\n  ANTHROPIC_API_KEY:  '',\n  ZIP_MAX_MB:         12,    // Gmail-sicher (15-16MB nach base64 = unter 25MB)\n  FIRST_RUN_LIMIT:    999,   // Kein Limit beim Erstlauf\n  PER_FILE_MAX_MB:    40,\n  HIDE_OVERDUE:       true,\n  HIDE_COMPLETED:     true,\n  RENAME_FILES:       true,\n  MODEL_LIGHT:        'claude-haiku-4-5-20251001',  // Aufgaben-Hinweise, kurze PDFs (<10 Seiten)\n  MODEL_SUMMARY:      'claude-sonnet-4-6',           // Zusammenfassungen langer PDFs\n  MODEL_BRIEFING:     'claude-sonnet-4-6',           // Aufgaben-Briefings\n  LINK_RESOURCES:     true,  // Course-Resources die in Aufgaben erwaehnt werden in Aufgaben-Ordner kopieren\n};\n\nconst BASE_URL = 'https://your-moodle-instance.example.com';  // z.B. https://moodle.deine-hochschule.de\nconst NOW = new Date();\nconst NOW_TS = Math.floor(NOW.getTime() / 1000);\nconst DATE_STR = NOW.toISOString().slice(0, 10);\nconst DAYS_DE = ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'];\nconst DATE_DE = `${DAYS_DE[NOW.getDay()]}, ${String(NOW.getDate()).padStart(2,'0')}.${String(NOW.getMonth()+1).padStart(2,'0')}.${NOW.getFullYear()}`;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.seenFiles) staticData.seenFiles = {};\n\n// === SCHEDULE FILTER (weil Cron auf diesem n8n-Server nicht zuverlaessig triggert) ===\n// Workflow ist im Schedule Trigger auf \"every 1 hour\" gestellt (Interval, NICHT Cron).\n// Hier filtern wir: nur wenn Wochentag + Stundenfenster passt + heute noch nicht gelaufen.\nconst SCHEDULE = {\n  enabled: true,\n  weekdays: [1, 3, 5],          // Mo=1, Di=2, Mi=3, Do=4, Fr=5, Sa=6, So=0\n  hour: 13,                     // 13:00 Berlin-Zeit\n  toleranceMinutes: 90,         // Trigger bis 90 Min nach Ziel ist noch OK\n};\nif (SCHEDULE.enabled && !TEST_MODE) {\n  const berlinNow = new Date(NOW.toLocaleString('en-US', { timeZone: 'Europe/Berlin' }));\n  const dayOK = SCHEDULE.weekdays.includes(berlinNow.getDay());\n  const target = new Date(berlinNow);\n  target.setHours(SCHEDULE.hour, 0, 0, 0);\n  const minutesSinceTarget = (berlinNow - target) / 60000;\n  const inWindow = minutesSinceTarget >= 0 && minutesSinceTarget <= SCHEDULE.toleranceMinutes;\n  const todayKey = `${berlinNow.getFullYear()}-${berlinNow.getMonth()}-${berlinNow.getDate()}-h${SCHEDULE.hour}`;\n  const alreadyRanToday = staticData.lastScheduledRun === todayKey;\n  if (!dayOK || !inWindow || alreadyRanToday) {\n    const reason = !dayOK ? 'falscher Wochentag' : !inWindow ? `nicht im Fenster (${minutesSinceTarget.toFixed(0)} Min nach Ziel)` : 'heute schon gelaufen';\n    console.log(`Schedule-Filter SKIP: ${['So','Mo','Di','Mi','Do','Fr','Sa'][berlinNow.getDay()]} ${berlinNow.getHours()}:${String(berlinNow.getMinutes()).padStart(2,'0')} → ${reason}`);\n    return [{ json: { skipped: true, reason } }];\n  }\n  staticData.lastScheduledRun = todayKey;\n  console.log(`Schedule-Filter PASS: ${['So','Mo','Di','Mi','Do','Fr','Sa'][berlinNow.getDay()]} ${berlinNow.getHours()}:${String(berlinNow.getMinutes()).padStart(2,'0')} → laeuft`);\n}\n\nif (!staticData.seenAssignments) staticData.seenAssignments = {};\nif (staticData.firstRun === undefined) staticData.firstRun = true;\nconst isFirstRun = staticData.firstRun;\nconst seenFiles = staticData.seenFiles;\nconst seenAssignments = staticData.seenAssignments;\n\nconsole.log(`=== Moodle AI Briefing Bot — ${DATE_DE} ===`);\nconsole.log(`State: ${Object.keys(seenFiles).length} Files, ${Object.keys(seenAssignments).length} Aufgaben bekannt. Erstlauf: ${isFirstRun}`);\n\nconst helpers = this.helpers;\n\n// === UTILITIES ===\n\nfunction htmlEscape(s) {\n  return String(s ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;').replace(/'/g, '&#39;');\n}\nfunction safeFilename(name, maxLen = 120) {\n  return String(name ?? 'unnamed').normalize('NFKD').replace(/[^\\w\\.\\- äöüÄÖÜß()]/g, '_').trim().slice(0, maxLen) || 'unnamed';\n}\nfunction safeFolder(name, maxLen = 60) {\n  // Filesystem-sichere Zeichen, aber Spaces erlauben (lesbarer)\n  return String(name ?? 'Kurs').normalize('NFKD').replace(/[<>:\"/\\\\|?*\\x00-\\x1f]/g, '').trim().slice(0, maxLen) || 'Kurs';\n}\nfunction prettifyCourseName(name) {\n  // Entfernt Suffixe wie (SoSe26), (WiSe25/26), (Zug 1) etc.\n  return String(name || '')\n    .replace(/\\s*\\(SoSe\\s*\\d{2,4}(?:\\/\\d{2,4})?\\)\\s*/gi, '')\n    .replace(/\\s*\\(WiSe\\s*\\d{2,4}(?:\\/\\d{2,4})?\\)\\s*/gi, '')\n    .replace(/\\s*\\(Zug\\s*\\d+\\)\\s*/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim() || name;\n}\nfunction sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nfunction estimateReadingMinutes(sizeBytes, isPdf) {\n  // Heuristik: ~50KB pro Seite bei PDFs, 250 Worte/Seite, 200 Worte/Min Lesegeschwindigkeit\n  if (!isPdf) return Math.max(1, Math.round(sizeBytes / 50000));\n  const estPages = Math.max(1, Math.round(sizeBytes / 50000));\n  const estMinutes = Math.round(estPages * 1.25);\n  return estMinutes;\n}\nfunction formatReadTime(min) {\n  if (min < 1) return '<1 Min';\n  if (min < 60) return `~${min} Min`;\n  const h = Math.floor(min / 60), m = min % 60;\n  return m === 0 ? `~${h} Std` : `~${h}h ${m}min`;\n}\nfunction stripHtml(s) {\n  return String(s || '').replace(/<[^>]+>/g, ' ').replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"').replace(/\\s+/g, ' ').trim();\n}\nfunction formatDeadline(ts) {\n  if (!ts) return '';\n  const dl = new Date(ts * 1000);\n  return `${String(dl.getDate()).padStart(2,'0')}.${String(dl.getMonth()+1).padStart(2,'0')}.${dl.getFullYear()} ${String(dl.getHours()).padStart(2,'0')}:${String(dl.getMinutes()).padStart(2,'0')} Uhr`;\n}\nfunction daysUntil(ts) {\n  if (!ts) return null;\n  return Math.floor((new Date(ts * 1000) - NOW) / 86400000);\n}\n\n// === ZIP-BUILDER mit DEFLATE Compression ===\n\nlet _zlibDeflate = null;\ntry {\n  const _zlib = require('zlib');\n  if (_zlib && _zlib.deflateRawSync) _zlibDeflate = _zlib.deflateRawSync;\n} catch (e) { /* zlib nicht verfuegbar in sandbox */ }\nconsole.log(`Compression: ${_zlibDeflate ? 'DEFLATE' : 'STORE only'}`);\n\n\nconst CRC32_TABLE = (() => {\n  const t = new Uint32Array(256);\n  for (let i = 0; i < 256; i++) {\n    let c = i;\n    for (let j = 0; j < 8; j++) c = (c & 1) ? (0xEDB88320 ^ (c >>> 1)) : (c >>> 1);\n    t[i] = c;\n  }\n  return t;\n})();\nfunction crc32(buf) {\n  let c = 0xFFFFFFFF;\n  for (let i = 0; i < buf.length; i++) c = CRC32_TABLE[(c ^ buf[i]) & 0xFF] ^ (c >>> 8);\n  return (c ^ 0xFFFFFFFF) >>> 0;\n}\nlet _zlib;\ntry { _zlib = require('zlib'); } catch (e) { _zlib = null; }\n\nfunction buildZip(files) {\n  const localParts = [], centralParts = [];\n  let offset = 0;\n  for (const f of files) {\n    const nameBuf = Buffer.from(f.filename, 'utf-8');\n    const data = f.data;\n    const crc = crc32(data);\n    const uncompSize = data.length;\n    \n    // Komprimierung versuchen falls zlib verfuegbar\n    let compData = data;\n    let method = 0; // store\n    let compSize = uncompSize;\n    if (_zlib && uncompSize > 0) {\n      try {\n        const def = _zlib.deflateRawSync(data, { level: 6 });\n        if (def.length < uncompSize) {\n          compData = def;\n          method = 8; // deflate\n          compSize = def.length;\n        }\n      } catch (e) { /* fallback to store */ }\n    }\n    \n    const lh = Buffer.alloc(30);\n    lh.writeUInt32LE(0x04034b50, 0); lh.writeUInt16LE(20, 4);\n    lh.writeUInt16LE(0x0800, 6); lh.writeUInt16LE(method, 8);\n    lh.writeUInt16LE(0, 10); lh.writeUInt16LE(0x21, 12);\n    lh.writeUInt32LE(crc, 14); lh.writeUInt32LE(compSize, 18);\n    lh.writeUInt32LE(uncompSize, 22); lh.writeUInt16LE(nameBuf.length, 26);\n    lh.writeUInt16LE(0, 28);\n    localParts.push(lh, nameBuf, compData);\n    \n    const ce = Buffer.alloc(46);\n    ce.writeUInt32LE(0x02014b50, 0); ce.writeUInt16LE(20, 4); ce.writeUInt16LE(20, 6);\n    ce.writeUInt16LE(0x0800, 8); ce.writeUInt16LE(method, 10);\n    ce.writeUInt16LE(0, 12); ce.writeUInt16LE(0x21, 14);\n    ce.writeUInt32LE(crc, 16); ce.writeUInt32LE(compSize, 20);\n    ce.writeUInt32LE(uncompSize, 24); ce.writeUInt16LE(nameBuf.length, 28);\n    ce.writeUInt16LE(0, 30); ce.writeUInt16LE(0, 32);\n    ce.writeUInt16LE(0, 34); ce.writeUInt16LE(0, 36);\n    ce.writeUInt32LE(0, 38); ce.writeUInt32LE(offset, 42);\n    centralParts.push(ce, nameBuf);\n    offset += 30 + nameBuf.length + compSize;\n  }\n  const localPart = Buffer.concat(localParts);\n  const centralPart = Buffer.concat(centralParts);\n  const eocd = Buffer.alloc(22);\n  eocd.writeUInt32LE(0x06054b50, 0); eocd.writeUInt16LE(0, 4);\n  eocd.writeUInt16LE(0, 6); eocd.writeUInt16LE(files.length, 8);\n  eocd.writeUInt16LE(files.length, 10); eocd.writeUInt32LE(centralPart.length, 12);\n  eocd.writeUInt32LE(localPart.length, 16); eocd.writeUInt16LE(0, 20);\n  return Buffer.concat([localPart, centralPart, eocd]);\n}\n\n// === PDF-GENERATOR (pure JS, multi-page, Helvetica) ===\n// Akzeptiert Liste von Bloecken: [{type:'h1'|'h2'|'p'|'li'|'meta'|'spacer', text:'...'}]\n\nfunction escapePdfStr(s) {\n  return String(s).replace(/\\\\/g, '\\\\\\\\').replace(/\\(/g, '\\\\(').replace(/\\)/g, '\\\\)');\n}\n// Rudimentaeres Latin-1-Encoding: nicht-ASCII zu '?' wenn ausserhalb\nfunction pdfText(s) {\n  // Latin-1 (0x00-0xFF) wird direkt als Bytes durchgereicht.\n  // WinAnsi-spezifische Zeichen (Smart Quotes, Bullets, Em/En-Dash) werden zu WinAnsi-Bytes gemappt.\n  let out = '';\n  for (const ch of String(s)) {\n    const code = ch.charCodeAt(0);\n    if (code < 128) { out += ch; continue; }\n    if (code >= 0x00A0 && code <= 0x00FF) { out += ch; continue; }  // Latin-1 inkl. Umlaute\n    // WinAnsi-spezifische Zeichen\n    if (code === 0x20AC) out += '\\x80';        // €\n    else if (code === 0x201A) out += '\\x82';   // ‚\n    else if (code === 0x201E) out += '\\x84';   // „\n    else if (code === 0x2026) out += '\\x85';   // …\n    else if (code === 0x2018) out += '\\x91';   // '\n    else if (code === 0x2019) out += '\\x92';   // '\n    else if (code === 0x201C) out += '\\x93';   // \"\n    else if (code === 0x201D) out += '\\x94';   // \"\n    else if (code === 0x2022) out += '\\x95';   // •\n    else if (code === 0x2013) out += '\\x96';   // –\n    else if (code === 0x2014) out += '\\x97';   // —\n    else out += '?';\n  }\n  return escapePdfStr(out);\n}\n\nfunction wrapText(text, maxChars) {\n  const words = String(text).split(/\\s+/);\n  const lines = [];\n  let buf = '';\n  for (const w of words) {\n    if (!buf) { buf = w; continue; }\n    if ((buf + ' ' + w).length > maxChars) { lines.push(buf); buf = w; }\n    else buf += ' ' + w;\n  }\n  if (buf) lines.push(buf);\n  return lines.length ? lines : [''];\n}\n\nfunction generatePdf(blocks) {\n  // A4 Format. Helvetica WinAnsi (kann Umlaute).\n  const PAGE_W = 595, PAGE_H = 842, MARGIN = 55;\n  const F_BODY = 12, F_H1 = 22, F_H2 = 16, F_META = 10, F_HEADER = 24, F_HEADER_SUB = 13;\n  const LH_BODY = 17, LH_H1 = 28, LH_H2 = 22, LH_META = 14;\n  const C_BODY = 75, C_H1 = 30, C_H2 = 50;  // chars per line\n  \n  // Farben (RGB 0-1 fuer PDF)\n  const COL_PRIMARY = '0.118 0.227 0.541';     // Primaer-Blau (#1e3a8a)\n  const COL_ACCENT = '0.000 0.443 0.890';  // helles Blau (#0071e3)\n  const COL_TEXT = '0.114 0.114 0.122';    // fast schwarz (#1d1d1f)\n  const COL_GRAY = '0.522 0.522 0.541';    // grau (#86868b)\n  const COL_LIGHT = '0.961 0.961 0.969';   // hellgrau (#f5f5f7)\n  const COL_WHITE = '1 1 1';\n  \n  const pages = [];\n  let curStream = '';\n  let y = PAGE_H - MARGIN;\n  \n  function newPage() {\n    if (curStream) pages.push(curStream);\n    curStream = '';\n    y = PAGE_H - MARGIN;\n  }\n  function ensureSpace(needed) {\n    if (y - needed < MARGIN) newPage();\n  }\n  function writeText(font, size, color, x, yy, text) {\n    curStream += `BT ${color} rg /${font} ${size} Tf ${x} ${yy} Td (${pdfText(text)}) Tj ET\\n`;\n  }\n  function drawRect(x, yy, w, h, color) {\n    curStream += `q ${color} rg ${x} ${yy} ${w} ${h} re f Q\\n`;\n  }\n  function drawLine(x1, y1, x2, y2, color, width) {\n    curStream += `q ${color} RG ${width} w ${x1} ${y1} m ${x2} ${y2} l S Q\\n`;\n  }\n  \n  for (const b of blocks) {\n    if (b.type === 'header') {\n      // Schoene Header-Box mit Primaer-Blau Hintergrund\n      const boxH = 90;\n      ensureSpace(boxH + 12);\n      drawRect(MARGIN, y - boxH, PAGE_W - 2 * MARGIN, boxH, COL_PRIMARY);\n      writeText('F2', F_HEADER, COL_WHITE, MARGIN + 22, y - 38, b.title);\n      if (b.subtitle) writeText('F1', F_HEADER_SUB, COL_WHITE, MARGIN + 22, y - 62, b.subtitle);\n      if (b.meta) writeText('F1', F_META, COL_WHITE, MARGIN + 22, y - 78, b.meta);\n      y -= boxH + 18;\n    } else if (b.type === 'h1') {\n      ensureSpace(LH_H1 + 6);\n      for (const line of wrapText(b.text, C_H1)) {\n        writeText('F2', F_H1, COL_PRIMARY, MARGIN, y - F_H1, line);\n        y -= LH_H1;\n      }\n      y -= 6;\n    } else if (b.type === 'h2') {\n      ensureSpace(LH_H2 + 12);\n      y -= 8;\n      for (const line of wrapText(b.text, C_H2)) {\n        writeText('F2', F_H2, COL_ACCENT, MARGIN, y - F_H2, line);\n        y -= LH_H2;\n      }\n      // Akzent-Linie unter h2\n      drawLine(MARGIN, y + 4, MARGIN + 80, y + 4, COL_ACCENT, 1.5);\n      y -= 6;\n    } else if (b.type === 'p') {\n      for (const line of wrapText(b.text, C_BODY)) {\n        ensureSpace(LH_BODY);\n        writeText('F1', F_BODY, COL_TEXT, MARGIN, y - F_BODY, line);\n        y -= LH_BODY;\n      }\n      y -= 4;\n    } else if (b.type === 'li') {\n      const lines = wrapText(b.text, C_BODY - 4);\n      ensureSpace(LH_BODY * lines.length);\n      // Akzent-Bullet\n      writeText('F2', F_BODY + 1, COL_ACCENT, MARGIN, y - F_BODY, '\\u2022');\n      writeText('F1', F_BODY, COL_TEXT, MARGIN + 14, y - F_BODY, lines[0]);\n      y -= LH_BODY;\n      for (let i = 1; i < lines.length; i++) {\n        ensureSpace(LH_BODY);\n        writeText('F1', F_BODY, COL_TEXT, MARGIN + 14, y - F_BODY, lines[i]);\n        y -= LH_BODY;\n      }\n    } else if (b.type === 'numli') {\n      const lines = wrapText(b.text, C_BODY - 5);\n      ensureSpace(LH_BODY * lines.length);\n      writeText('F2', F_BODY, COL_ACCENT, MARGIN, y - F_BODY, b.num + '.');\n      writeText('F1', F_BODY, COL_TEXT, MARGIN + 18, y - F_BODY, lines[0]);\n      y -= LH_BODY;\n      for (let i = 1; i < lines.length; i++) {\n        ensureSpace(LH_BODY);\n        writeText('F1', F_BODY, COL_TEXT, MARGIN + 18, y - F_BODY, lines[i]);\n        y -= LH_BODY;\n      }\n    } else if (b.type === 'meta') {\n      ensureSpace(LH_META);\n      writeText('F3', F_META, COL_GRAY, MARGIN, y - F_META, b.text);\n      y -= LH_META;\n    } else if (b.type === 'link') {\n      // Blau unterstrichener Linktext (text)\n      ensureSpace(LH_BODY);\n      const txt = b.text || b.url;\n      writeText('F1', F_BODY, COL_ACCENT, MARGIN, y - F_BODY, txt);\n      // Unterstrich\n      const approxWidth = txt.length * F_BODY * 0.55;  // grob\n      drawLine(MARGIN, y - F_BODY - 2, MARGIN + approxWidth, y - F_BODY - 2, COL_ACCENT, 0.6);\n      y -= LH_BODY;\n    } else if (b.type === 'divider') {\n      ensureSpace(20);\n      y -= 8;\n      drawLine(MARGIN, y, PAGE_W - MARGIN, y, COL_GRAY, 0.4);\n      y -= 12;\n    } else if (b.type === 'spacer') {\n      y -= b.size || 10;\n    } else if (b.type === 'note') {\n      // Info-Box mit hellgrauem Hintergrund\n      const lines = wrapText(b.text, C_BODY - 6);\n      const h = lines.length * LH_BODY + 18;\n      ensureSpace(h + 8);\n      drawRect(MARGIN, y - h, PAGE_W - 2 * MARGIN, h, COL_LIGHT);\n      let yy = y - 8;\n      for (const line of lines) {\n        writeText('F1', F_BODY, COL_TEXT, MARGIN + 14, yy - F_BODY, line);\n        yy -= LH_BODY;\n      }\n      y -= h + 8;\n    }\n  }\n  if (curStream) pages.push(curStream);\n  if (pages.length === 0) pages.push('BT /F1 12 Tf 60 750 Td (Leer) Tj ET\\n');\n  \n  // PDF-Objekte\n  const objs = [];\n  objs.push('<< /Type /Catalog /Pages 2 0 R >>');\n  \n  const pageRefs = [];\n  for (let i = 0; i < pages.length; i++) pageRefs.push(`${6 + i * 2} 0 R`);\n  objs.push(`<< /Type /Pages /Kids [${pageRefs.join(' ')}] /Count ${pages.length} >>`);\n  \n  objs.push('<< /Type /Font /Subtype /Type1 /BaseFont /Helvetica /Encoding /WinAnsiEncoding >>');\n  objs.push('<< /Type /Font /Subtype /Type1 /BaseFont /Helvetica-Bold /Encoding /WinAnsiEncoding >>');\n  objs.push('<< /Type /Font /Subtype /Type1 /BaseFont /Helvetica-Oblique /Encoding /WinAnsiEncoding >>');\n  \n  for (let i = 0; i < pages.length; i++) {\n    const contentNum = 7 + i * 2;\n    objs.push(`<< /Type /Page /Parent 2 0 R /Resources << /Font << /F1 3 0 R /F2 4 0 R /F3 5 0 R >> >> /MediaBox [0 0 ${PAGE_W} ${PAGE_H}] /Contents ${contentNum} 0 R >>`);\n    const stream = pages[i];\n    objs.push(`<< /Length ${Buffer.byteLength(stream, 'latin1')} >>\\nstream\\n${stream}endstream`);\n  }\n  \n  let pdf = '%PDF-1.4\\n';\n  const offsets = [];\n  for (let i = 0; i < objs.length; i++) {\n    offsets.push(Buffer.byteLength(pdf, 'latin1'));\n    pdf += `${i + 1} 0 obj\\n${objs[i]}\\nendobj\\n`;\n  }\n  const xrefOffset = Buffer.byteLength(pdf, 'latin1');\n  pdf += `xref\\n0 ${objs.length + 1}\\n0000000000 65535 f \\n`;\n  for (const o of offsets) pdf += String(o).padStart(10, '0') + ' 00000 n \\n';\n  pdf += `trailer\\n<< /Size ${objs.length + 1} /Root 1 0 R >>\\nstartxref\\n${xrefOffset}\\n%%EOF`;\n  \n  return Buffer.from(pdf, 'latin1');\n}\n\n// Helper: parse Markdown-ish Text in Bloecke\nfunction mdToBlocks(md) {\n  const out = [];\n  for (const line of String(md).split('\\n')) {\n    const t = line.trim();\n    if (!t) { out.push({ type: 'spacer' }); continue; }\n    if (/^---+$/.test(t)) { out.push({ type: 'divider' }); continue; }\n    if (/^# /.test(t)) { out.push({ type: 'h1', text: t.replace(/^# /, '').replace(/\\*\\*/g, '') }); continue; }\n    if (/^## /.test(t)) { out.push({ type: 'h2', text: t.replace(/^## /, '').replace(/\\*\\*/g, '') }); continue; }\n    if (/^### /.test(t)) { out.push({ type: 'h2', text: t.replace(/^### /, '').replace(/\\*\\*/g, '') }); continue; }\n    if (/^[\\*\\-] /.test(t)) { out.push({ type: 'li', text: t.replace(/^[\\*\\-] /, '').replace(/\\*\\*/g, '') }); continue; }\n    const numM = t.match(/^(\\d+)\\. (.+)$/);\n    if (numM) { out.push({ type: 'numli', num: numM[1], text: numM[2].replace(/\\*\\*/g, '') }); continue; }\n    if (/^_.*_$/.test(t)) { out.push({ type: 'meta', text: t.replace(/^_|_$/g, '') }); continue; }\n    // Markdown link [text](url) — nur Linktext im PDF zeigen, blau unterstrichen\n    const linkM = t.match(/^\\[([^\\]]+)\\]\\(([^)]+)\\)$/);\n    if (linkM) { out.push({ type: 'link', text: linkM[1], url: linkM[2] }); continue; }\n    // Sonst Paragraph - Markdown-Markup entfernen\n    let para = t.replace(/\\*\\*(.+?)\\*\\*/g, '$1').replace(/\\*(.+?)\\*/g, '$1');\n    // Inline-Links auch im Text bereinigen: [text](url) -> text\n    para = para.replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1');\n    out.push({ type: 'p', text: para });\n  }\n  return out;\n}\n\n// === MOODLE WEB SERVICE API ===\n\nconst UA = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 14_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0 Safari/537.36';\n\nasync function getMoodleToken() {\n  console.log('Hole Moodle-Token...');\n  const body = `username=${encodeURIComponent(CONFIG.MOODLE_USERNAME)}&password=${encodeURIComponent(CONFIG.MOODLE_PASSWORD)}&service=moodle_mobile_app`;\n  const r = await helpers.httpRequest({\n    method: 'POST', url: `${BASE_URL}/login/token.php`,\n    headers: { 'User-Agent': UA, 'Content-Type': 'application/x-www-form-urlencoded' },\n    body, returnFullResponse: true, json: false, ignoreHttpStatusErrors: true,\n  });\n  let data;\n  try { data = typeof r.body === 'string' ? JSON.parse(r.body) : r.body; }\n  catch (e) { throw new Error(`Token-Endpoint kein JSON: ${String(r.body).slice(0,300)}`); }\n  if (data.error) throw new Error(`Login abgelehnt: ${data.error}`);\n  if (!data.token) throw new Error(`Kein Token: ${JSON.stringify(data).slice(0,300)}`);\n  console.log(`✓ Token erhalten`);\n  return data.token;\n}\n\nasync function wsCall(token, wsfunction, params = {}) {\n  await sleep(150);\n  const allParams = { wstoken: token, wsfunction, moodlewsrestformat: 'json', ...params };\n  function enc(obj, prefix) {\n    const parts = [];\n    for (const [k, v] of Object.entries(obj)) {\n      const fk = prefix ? `${prefix}[${k}]` : k;\n      if (Array.isArray(v)) {\n        v.forEach((it, idx) => {\n          if (typeof it === 'object' && it !== null) parts.push(enc(it, `${fk}[${idx}]`));\n          else parts.push(`${encodeURIComponent(fk + '[' + idx + ']')}=${encodeURIComponent(it)}`);\n        });\n      } else if (typeof v === 'object' && v !== null) parts.push(enc(v, fk));\n      else parts.push(`${encodeURIComponent(fk)}=${encodeURIComponent(v)}`);\n    }\n    return parts.join('&');\n  }\n  const r = await helpers.httpRequest({\n    method: 'POST', url: `${BASE_URL}/webservice/rest/server.php`,\n    headers: { 'User-Agent': UA, 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: enc(allParams), returnFullResponse: true, json: false, ignoreHttpStatusErrors: true,\n  });\n  let data;\n  try { data = typeof r.body === 'string' ? JSON.parse(r.body) : r.body; }\n  catch (e) { throw new Error(`WS ${wsfunction}: kein JSON. ${String(r.body).slice(0,200)}`); }\n  if (data && data.exception) throw new Error(`WS ${wsfunction}: ${data.errorcode || ''} ${data.message || ''}`);\n  return data;\n}\n\nasync function downloadFile(fileurl, token) {\n  const sep = fileurl.includes('?') ? '&' : '?';\n  await sleep(150);\n  const r = await helpers.httpRequest({\n    method: 'GET', url: `${fileurl}${sep}token=${encodeURIComponent(token)}`,\n    headers: { 'User-Agent': UA }, returnFullResponse: true,\n    encoding: 'arraybuffer', json: false, ignoreHttpStatusErrors: true,\n  });\n  if (r.statusCode !== 200) throw new Error(`Download ${r.statusCode}`);\n  const buf = Buffer.isBuffer(r.body) ? r.body : Buffer.from(r.body);\n  if (buf.length > CONFIG.PER_FILE_MAX_MB * 1024 * 1024) throw new Error(`File zu gross: ${(buf.length/1024/1024).toFixed(1)} MB`);\n  return buf;\n}\n\n// === ANTHROPIC API ===\n\nasync function anthropicCall(payload) {\n  const r = await helpers.httpRequest({\n    method: 'POST', url: 'https://api.anthropic.com/v1/messages',\n    headers: {\n      'Content-Type': 'application/json', 'x-api-key': CONFIG.ANTHROPIC_API_KEY,\n      'anthropic-version': '2023-06-01',\n    },\n    body: JSON.stringify(payload), json: false,\n    returnFullResponse: true, ignoreHttpStatusErrors: true,\n  });\n  if (r.statusCode >= 400) throw new Error(`Anthropic ${r.statusCode}: ${String(r.body).slice(0,200)}`);\n  const data = typeof r.body === 'string' ? JSON.parse(r.body) : r.body;\n  return data.content?.[0]?.text?.trim() || '';\n}\n\n// === ADAPTIVE SUMMARY STRATEGY ===\n\nfunction estimatePdfPages(buffer) {\n  try {\n    // Zaehle echte /Type /Page Vorkommen in PDF (ignoriert /Pages, /PageNumber etc.)\n    const text = buffer.toString('latin1');\n    const matches = text.match(/\\/Type[\\s\\n]*\\/Page[\\s\\n>\\/]/g);\n    if (matches && matches.length > 0) return matches.length;\n  } catch (e) {}\n  // Fallback: Datei-Groesse\n  return Math.max(1, Math.round(buffer.length / 50000));\n}\n\nfunction getStrategyForPdf(pages) {\n  // Adaptive Output-Laenge basierend auf PDF-Seitenzahl\n  if (pages <= 10) return {\n    model: CONFIG.MODEL_LIGHT, maxTokens: 1500,\n    goalDesc: 'eine kompakte Zusammenfassung von 1-2 Seiten',\n    estCost: 0.05\n  };\n  if (pages <= 30) return {\n    model: CONFIG.MODEL_SUMMARY, maxTokens: 4000,\n    goalDesc: 'eine ausfuehrliche Zusammenfassung von 3-5 Seiten',\n    estCost: 0.10\n  };\n  if (pages <= 60) return {\n    model: CONFIG.MODEL_SUMMARY, maxTokens: 6000,\n    goalDesc: 'eine sehr ausfuehrliche Zusammenfassung von 6-10 Seiten',\n    estCost: 0.20\n  };\n  if (pages <= 100) return {\n    model: CONFIG.MODEL_SUMMARY, maxTokens: 10000,\n    goalDesc: 'eine umfassende Zusammenfassung von 12-18 Seiten mit allen Kapiteln',\n    estCost: 0.35\n  };\n  return {\n    model: CONFIG.MODEL_SUMMARY, maxTokens: 14000,\n    goalDesc: 'eine vollstaendige Zusammenfassung von 18-25 Seiten — alle Hauptinhalte detailliert',\n    estCost: 0.55\n  };\n}\n\n// Globale Kostentracking\nlet _runCostUSD = 0;\nfunction trackCost(model, inputBytes, outputBytes) {\n  // Grobe Schaetzung: 1 Token = ~4 Zeichen\n  const inTokens = Math.round(inputBytes / 4);\n  const outTokens = Math.round(outputBytes / 4);\n  let inRate, outRate;\n  if (model.includes('haiku')) { inRate = 1; outRate = 5; }\n  else if (model.includes('sonnet')) { inRate = 3; outRate = 15; }\n  else if (model.includes('opus')) { inRate = 15; outRate = 75; }\n  else { inRate = 3; outRate = 15; }\n  const cost = (inTokens * inRate + outTokens * outRate) / 1000000;\n  _runCostUSD += cost;\n  return cost;\n}\n\n// Kombinierter Call: Filename-Vorschlag + Handschrift-Check + Summary\n// Gibt zurueck: { isHandwritten: bool, betterFilename: string|null, summary: string }\nasync function analyzePdf(pdfBuffer, courseName, originalFilename, context) {\n  const sysPrompt = `Du analysierst Studienunterlagen fuer eine:n Studierende:n.\nAntworte NUR mit gueltigem JSON in diesem Format:\n{\n  \"isHandwritten\": true|false,\n  \"betterFilename\": \"ein-klar-beschreibender-Dateiname-ohne-Endung\",\n  \"summary\": \"Markdown-formatierte Zusammenfassung (2-5 Saetze + 3-5 Bullets)\"\n}\n\nRegeln:\n- isHandwritten=true wenn das Dokument hauptsaechlich handschriftliche Mitschriften, Notizen oder gescannte handgeschriebene Inhalte enthaelt. Dann lass summary leer (\"\").\n- betterFilename: kurz, klar, max 35 Zeichen (!), ohne Sonderzeichen ausser Bindestrichen, ohne \".pdf\" Endung. Bevorzuge Worte wie \"Skript\", \"Uebung\", \"Anleitung\" mit Nummer. Beispiele: \"VHDL Crashkurs\", \"LTspice Kurzanleitung\", \"UE 1 Hello World\", \"Pruefungsmodalitaeten\". Wenn der Originalname schon gut und kurz ist, nimm den.\n- summary: kompakte Markdown-Zusammenfassung. Format: kurzer Einleitungssatz, dann 3-5 Bullets mit \"- \" als Praefix. Keine Floskeln, keine Wiederholung des Titels.\n- Antworte AUSSCHLIESSLICH mit JSON, kein Code-Fence, kein Erklaer-Text davor oder danach.`;\n\n  const userText = `Kurs: ${courseName}\\nOriginal-Dateiname: ${originalFilename}${context ? `\\nKontext: ${context}` : ''}`;\n  \n  const raw = await anthropicCall({\n    model: 'claude-haiku-4-5-20251001',\n    max_tokens: 700,\n    system: [{ type: 'text', text: sysPrompt, cache_control: { type: 'ephemeral' } }],\n    messages: [{\n      role: 'user',\n      content: [\n        { type: 'document', source: { type: 'base64', media_type: 'application/pdf', data: pdfBuffer.toString('base64') } },\n        { type: 'text', text: userText },\n      ],\n    }],\n  });\n  \n  // JSON parsen, defensiv\n  let parsed;\n  try {\n    const m = raw.match(/\\{[\\s\\S]*\\}/);\n    parsed = JSON.parse(m ? m[0] : raw);\n  } catch (e) {\n    console.error(`  JSON-Parse fail, nutze Rohtext: ${e.message}`);\n    return { isHandwritten: false, betterFilename: null, summary: raw };\n  }\n  return {\n    isHandwritten: !!parsed.isHandwritten,\n    betterFilename: parsed.betterFilename ? safeFilename(parsed.betterFilename, 60) : null,\n    summary: parsed.summary || '',\n  };\n}\n\nasync function assignmentBriefingFull(courseName, name, description, deadline, fileSummaries) {\n  const filesPart = fileSummaries.length ? '\\n\\nVerlinkte Dateien:\\n' + fileSummaries.map(fs => `- ${fs.filename}: ${fs.summary}`).join('\\n') : '';\n  const userMsg = `Kurs: ${courseName}\\nAufgabe: ${name}\\nDeadline: ${deadline || 'nicht angegeben'}\\n\\nAufgabenbeschreibung:\\n${description}${filesPart}\\n\\nErstelle das ausfuehrliche Briefing.`;\n  return await anthropicCall({\n    model: 'claude-sonnet-4-6',\n    max_tokens: 800,\n    system: [{\n      type: 'text',\n      text: 'Du bist ein Studien-Assistent. Schreibe ein praegnantes, hilfreiches Aufgaben-Briefing in Markdown, deutsch. Format:\\n\\n## Was zu tun ist\\n2-3 Saetze in eigenen Worten.\\n\\n## Form der Abgabe\\nKurz: Datei hochladen / nur Lektüre / etc.\\n\\n## Loesungsansatz\\n1. ...\\n2. ...\\n3. ...\\n4. (optional)\\n\\n## Wichtige Konzepte\\n- Konzept 1\\n- Konzept 2\\n\\n## Aufwand\\n~X Stunden\\n\\nKeine fertigen Loesungen, nur Hinweise.',\n      cache_control: { type: 'ephemeral' },\n    }],\n    messages: [{ role: 'user', content: userMsg }],\n  });\n}\n\nasync function assignmentHintShort(courseName, name, description) {\n  const userMsg = `Kurs: ${courseName}\\nAufgabe: ${name}\\n\\nBeschreibung:\\n${description.slice(0, 1500)}\\n\\nWas ist zu tun? Genau EIN Satz, max 25 Worte.`;\n  return await anthropicCall({\n    model: 'claude-haiku-4-5-20251001', max_tokens: 80,\n    messages: [{ role: 'user', content: userMsg }],\n  });\n}\n\n// === EMAIL HTML (kompakt) ===\n\nfunction deadlineBadge(ts) {\n  if (!ts) return '';\n  const days = daysUntil(ts);\n  let color, label;\n  if (days < 0) return '';\n  else if (days === 0) { color = '#ff3b30'; label = 'heute'; }\n  else if (days <= 3) { color = '#ff3b30'; label = `in ${days} Tag${days===1?'':'en'}`; }\n  else if (days <= 7) { color = '#ff9500'; label = `in ${days} Tagen`; }\n  else { color = '#34c759'; label = `in ${days} Tagen`; }\n  return `<span style=\"display:inline-block;background:${color};color:#fff;padding:3px 10px;border-radius:12px;font-size:12px;font-weight:600;margin-left:8px;vertical-align:middle;\">${label}</span>`;\n}\n\nfunction buildEmailHtml(coursesData, totalAssigns, totalFiles, zipMb, hasAttachment, totalReadMin) {\n  const cssLink = 'color:#0071e3;text-decoration:none;font-weight:500;';\n  let parts = [];\n  parts.push(`<!doctype html><html lang=\"de\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>Moodle Update</title></head><body style=\"margin:0;padding:0;background:#fff;font-family:-apple-system,BlinkMacSystemFont,'SF Pro Text','Helvetica Neue',Helvetica,Arial,sans-serif;color:#1d1d1f;font-size:14px;line-height:1.5;\"><div style=\"max-width:640px;margin:0 auto;padding:20px 16px;\">`);\n  parts.push(`<div style=\"background:linear-gradient(135deg,#1e3a5f,#2c5282);color:#fff;border-radius:12px;padding:16px 20px;margin-bottom:18px;\">\n    <div style=\"font-size:12px;opacity:0.85;\">📚 Moodle Update${isFirstRun ? ' · Erstlauf' : ''}</div>\n    <div style=\"font-size:18px;font-weight:700;margin-top:2px;\">${htmlEscape(DATE_DE)}</div>\n    <div style=\"font-size:13px;opacity:0.9;margin-top:6px;\">${totalAssigns} Aufgabe${totalAssigns===1?'':'n'} · ${totalFiles} Datei${totalFiles===1?'':'en'}${hasAttachment ? ' · ZIP ' + zipMb.toFixed(1) + ' MB' : ''}</div>\n    ${totalReadMin > 0 ? `<div style=\"font-size:12px;opacity:0.8;margin-top:4px;\">Geschaetzte Lesezeit gesamt: ${formatReadTime(totalReadMin)}</div>` : ''}\n  </div>`);\n  \n  if (totalAssigns + totalFiles === 0) {\n    parts.push(`<div style=\"text-align:center;padding:40px 20px;color:#6e6e73;\">\n      <div style=\"font-size:40px;\">✅</div>\n      <div style=\"font-size:16px;color:#1d1d1f;font-weight:600;margin-top:8px;\">Alles ruhig.</div>\n      <div style=\"margin-top:4px;\">Keine neuen Materialien seit dem letzten Lauf.</div>\n    </div>`);\n  } else {\n    // Heute/Morgen-Sektion: dringende Aufgaben prominent oben\n    const allUrgent = [];\n    for (const [cn, cd] of Object.entries(coursesData)) {\n      for (const a of cd.assignments) {\n        if (a.duedate) {\n          const d = daysUntil(a.duedate);\n          if (d >= 0 && d <= 2) allUrgent.push({...a, courseName: cn});\n        }\n      }\n    }\n    allUrgent.sort((a, b) => a.duedate - b.duedate);\n    if (allUrgent.length) {\n      parts.push(`<div style=\"margin:20px 0 8px;font-size:12px;font-weight:700;color:#ff3b30;letter-spacing:0.5px;text-transform:uppercase;\">🔥 Bald faellig</div>`);\n      for (const a of allUrgent) {\n        parts.push(`<div style=\"background:#fff5f5;border-left:3px solid #ff3b30;border-radius:8px;padding:12px 14px;margin:6px 0;\">\n          <div style=\"font-weight:600;font-size:14px;\">${htmlEscape(a.name)}${deadlineBadge(a.duedate)}</div>\n          <div style=\"font-size:12px;color:#6e6e73;margin-top:2px;\">${htmlEscape(a.courseName)} · ${formatDeadline(a.duedate)}</div>\n          ${a.shortHint ? `<div style=\"font-size:13px;color:#1d1d1f;margin-top:8px;\">${htmlEscape(a.shortHint)}</div>` : ''}\n          <div style=\"margin-top:8px;\"><a href=\"${htmlEscape(a.moodle_url)}\" style=\"${cssLink}font-size:12px;\">→ Moodle</a></div>\n        </div>`);\n      }\n    }\n    \n    const sorted = Object.entries(coursesData)\n      .filter(([, c]) => c.assignments.length || c.newFiles.length)\n      .sort(([, a], [, b]) => {\n        const aDates = a.assignments.filter(x => x.duedate).map(x => x.duedate);\n        const bDates = b.assignments.filter(x => x.duedate).map(x => x.duedate);\n        const aMin = aDates.length ? Math.min(...aDates) : Infinity;\n        const bMin = bDates.length ? Math.min(...bDates) : Infinity;\n        return aMin - bMin;\n      });\n    for (const [cname, cdata] of sorted) {\n      parts.push(`<div style=\"margin:18px 0 8px;font-size:16px;font-weight:700;color:#1d1d1f;border-left:3px solid #0071e3;padding-left:10px;\">${htmlEscape(cname)}</div>`);\n      const nonUrgentAssigns = cdata.assignments.filter(a => {\n        if (!a.duedate) return true;\n        const d = daysUntil(a.duedate);\n        return d > 2 || d < 0;\n      });\n      for (const a of nonUrgentAssigns) {\n        const dlStr = a.duedate ? formatDeadline(a.duedate) : '';\n        parts.push(`<div style=\"background:#f5f5f7;border-radius:10px;padding:12px 14px;margin:8px 0;\">\n          <div style=\"font-weight:600;font-size:14px;\">📝 ${htmlEscape(a.name)}${deadlineBadge(a.duedate)}</div>\n          ${dlStr ? `<div style=\"font-size:12px;color:#6e6e73;margin-top:2px;\">${dlStr}</div>` : ''}\n          ${a.shortHint ? `<div style=\"font-size:13px;color:#1d1d1f;margin-top:8px;\">${htmlEscape(a.shortHint)}</div>` : ''}\n          <div style=\"margin-top:8px;\"><a href=\"${htmlEscape(a.moodle_url)}\" style=\"${cssLink}font-size:12px;\">→ Moodle</a></div>\n        </div>`);\n      }\n      if (cdata.newFiles.length) {\n        parts.push(`<div style=\"background:#f5f5f7;border-radius:10px;padding:10px 14px;margin:8px 0;\">\n          <div style=\"font-size:12px;color:#6e6e73;margin-bottom:6px;\">📄 Neue Mitschriften (${cdata.newFiles.length})</div>`);\n        for (const f of cdata.newFiles) {\n          const tag = f.isHandwritten ? ' <span style=\"color:#ff9500;font-size:10px;font-weight:600;\">handschrift</span>' : '';\n          const readTag = f.isPdf && !f.isHandwritten ? ` · ${formatReadTime(f.readMin)}` : '';\n          parts.push(`<div style=\"font-size:13px;margin:3px 0;\">• ${htmlEscape(f.displayName)}${tag} <span style=\"color:#86868b;font-size:11px;\">${Math.round(f.size/1024)} KB${readTag}</span></div>`);\n        }\n        parts.push(`</div>`);\n      }\n    }\n    if (hasAttachment) {\n      parts.push(`<div style=\"margin-top:20px;padding:12px 14px;background:#e8f4fd;border-radius:10px;font-size:13px;color:#1d1d1f;\">\n        💡 Im Anhang: ZIP mit allen Originaldateien <strong>plus</strong> KI-Zusammenfassungen als PDF. Aufgaben-Briefings auch als PDF.\n      </div>`);\n    }\n  }\n  parts.push(`<div style=\"margin-top:24px;padding-top:14px;border-top:1px solid #e5e5ea;font-size:11px;color:#86868b;text-align:center;\">\n    Generiert ${String(NOW.getHours()).padStart(2,'0')}:${String(NOW.getMinutes()).padStart(2,'0')} via n8n + Moodle Web API\n  </div>`);\n  parts.push(`</div></body></html>`);\n  return parts.join('');\n}\n\n// === HAUPTLAUF ===\n\nlet coursesData = {};\nlet zipFilesArr = [];\nlet zipBytes = 0;\nconst zipMaxBytes = CONFIG.ZIP_MAX_MB * 1024 * 1024;\nlet scanCounter = 0;\nconst itemLimit = isFirstRun ? CONFIG.FIRST_RUN_LIMIT : 9999;\nlet runError = null;\n\nfunction addToZip(filename, data) {\n  let unique = filename;\n  let counter = 2;\n  while (zipFilesArr.some(f => f.filename === unique)) {\n    const m = filename.match(/^(.+?)(\\.[^./]+)?$/);\n    unique = `${m[1]}_${counter}${m[2] || ''}`;\n    counter++;\n  }\n  zipFilesArr.push({ filename: unique, data });\n  zipBytes += data.length;\n  return unique;\n}\n\ntry {\n  const token = await getMoodleToken();\n  console.log('Hole Site-Info...');\n  const siteInfo = await wsCall(token, 'core_webservice_get_site_info');\n  const userid = siteInfo.userid;\n  console.log(`✓ User: ${siteInfo.fullname}`);\n  \n  console.log('Hole Kursliste...');\n  const courses = await wsCall(token, 'core_enrol_get_users_courses', { userid });\n  console.log(`✓ ${courses.length} Kurse`);\n  \n  let assignsByCourse = {};\n  if (courses.length > 0) {\n    const ad = await wsCall(token, 'mod_assign_get_assignments', { courseids: courses.map(c => c.id) });\n    for (const c of (ad.courses || [])) assignsByCourse[c.id] = c.assignments || [];\n  }\n  \n  let completionByCmid = {};\n  if (CONFIG.HIDE_COMPLETED) {\n    for (const course of courses) {\n      try {\n        const cs = await wsCall(token, 'core_completion_get_activities_completion_status', {\n          courseid: course.id, userid,\n        });\n        for (const s of (cs.statuses || [])) if (s.state >= 1) completionByCmid[s.cmid] = s.state;\n      } catch (e) { /* completion not enabled */ }\n    }\n    console.log(`  ${Object.keys(completionByCmid).length} Items als erledigt markiert`);\n  }\n  \n  // Reserviere 2 MB im ZIP fuer Aufgaben-Briefings — damit grosse Mitschriften\n  // die Aufgaben nicht \"wegdruecken\" wenn das ZIP voll wird.\n  const reservedForAssignments = 2 * 1024 * 1024;\n  const fileZipLimit = zipMaxBytes - reservedForAssignments;\n  \n  for (const course of courses) {\n    if (scanCounter >= itemLimit) break;\n    const cnameRaw = course.fullname;\n    const cname = prettifyCourseName(cnameRaw);\n    const cfolder = safeFolder(cname, 50);\n    coursesData[cname] = { assignments: [], newFiles: [], allResources: [] };\n    \n    let sections;\n    try { sections = await wsCall(token, 'core_course_get_contents', { courseid: course.id }); }\n    catch (e) { console.error(`Kurs ${cname}: ${e.message}`); continue; }\n    \n    // Mitschriften\n    for (const section of sections) {\n      for (const mod of (section.modules || [])) {\n        if (scanCounter >= itemLimit) break;\n        if (mod.modname !== 'resource' && mod.modname !== 'folder') continue;\n        if (CONFIG.HIDE_COMPLETED && completionByCmid[mod.id]) {\n          console.log(`  Skip (erledigt): ${mod.name}`); continue;\n        }\n        for (const c of (mod.contents || [])) {\n          if (scanCounter >= itemLimit) break;\n          if (c.type !== 'file' || !c.fileurl) continue;\n          const fkey = `${course.id}::file::${c.fileurl}`;\n          if (seenFiles[fkey]) continue;\n          if (zipBytes + (c.filesize || 0) > fileZipLimit) {\n            console.log(`  ZIP-Resource-Limit erreicht (Aufgaben-Reserve), skip: ${c.filename}`); continue;\n          }\n          try {\n            console.log(`  Download: ${c.filename}`);\n            const buf = await downloadFile(c.fileurl, token);\n            const isPdf = c.filename.toLowerCase().endsWith('.pdf');\n            const origExt = c.filename.match(/\\.[^.]+$/)?.[0] || '';\n            \n            // Default-Werte\n            let displayName = c.filename;\n            let baseName = c.filename.replace(/\\.[^.]+$/, '');\n            let isHandwritten = false;\n            let summaryMd = '';\n            \n            // Analyse fuer PDFs (Filename + Handschrift + Summary in 1 Call)\n            let estPages = 0;\n            if (isPdf && CONFIG.RENAME_FILES) {\n              try {\n                const a = await analyzePdf(buf, cname, c.filename, mod.name);\n                isHandwritten = a.isHandwritten;\n                if (a.betterFilename) baseName = a.betterFilename;\n                if (!isHandwritten) summaryMd = a.summary;\n                estPages = a.estPages || 0;\n                if (isHandwritten) console.log(`    → handschriftlich, keine Summary`);\n              } catch (e) { console.error(`    Analyze fail: ${e.message}`); }\n            }\n            \n            // === ZIP: Original ZUERST, dann Summary ===\n            const finalName = safeFilename(baseName + origExt, 100);\n            const origPath = `${cfolder}/${finalName}`;\n            addToZip(origPath, buf);  // Original\n            displayName = finalName;\n            \n            if (summaryMd && !isHandwritten) {\n              const blocks = [\n                { type: 'header', title: baseName, subtitle: cname, meta: `Original: ${c.filename}` },\n                ...mdToBlocks(summaryMd),\n              ];\n              addToZip(`${cfolder}/${baseName} Zusammenfassung.pdf`, generatePdf(blocks));\n            }\n            \n            coursesData[cname].newFiles.push({\n              filename: c.filename, displayName, size: buf.length, isPdf, isHandwritten,\n              moodle_url: mod.url || '',\n            });\n            seenFiles[fkey] = { ts: c.timemodified || NOW_TS };\n            scanCounter++;\n          } catch (e) { console.error(`  Download fail: ${e.message}`); }\n        }\n      }\n    }\n    \n    // Aufgaben\n    for (const a of (assignsByCourse[course.id] || [])) {\n      if (scanCounter >= itemLimit) break;\n      const akey = `${course.id}::assign::${a.id}`;\n      // Filter: abgelaufen oder erledigt\n      if (CONFIG.HIDE_OVERDUE && a.duedate && a.duedate > 0 && a.duedate < NOW_TS) {\n        seenAssignments[akey] = { duedate: a.duedate, skipped: 'overdue' }; continue;\n      }\n      if (CONFIG.HIDE_COMPLETED && completionByCmid[a.cmid]) {\n        seenAssignments[akey] = { duedate: a.duedate, skipped: 'completed' }; continue;\n      }\n      // Aufgabe ist offen → IMMER zeigen (mit Cache wenn bekannt)\n      const cached = seenAssignments[akey];\n      const isFromCache = cached && cached.briefingMd && !cached.skipped;\n      \n      const aSafe = safeFilename(a.name, 40);\n      const aFolder = `${cfolder}/Aufgabe_${aSafe}`;\n      const fileSummaries = [];\n      \n      for (const att of (a.introattachments || []).slice(0, 3)) {\n        if (!att.fileurl) continue;\n        try {\n          const buf = await downloadFile(att.fileurl, token);\n          if (zipBytes + buf.length > zipMaxBytes) continue;\n          const isPdf = att.filename.toLowerCase().endsWith('.pdf');\n          const ext = att.filename.match(/\\.[^.]+$/)?.[0] || '';\n          let baseName = att.filename.replace(/\\.[^.]+$/, '');\n          let isHandwritten = false, summaryMd = '';\n          \n          let estPagesAtt = 0;\n          if (isPdf && CONFIG.RENAME_FILES) {\n            try {\n              const r = await analyzePdf(buf, cname, att.filename, `Aufgabe: ${a.name}`);\n              isHandwritten = r.isHandwritten;\n              if (r.betterFilename) baseName = r.betterFilename;\n              if (!isHandwritten) summaryMd = r.summary;\n              estPagesAtt = r.estPages || 0;\n            } catch (e) { console.error(`    Anhang Analyze fail: ${e.message}`); }\n          }\n          \n          const finalName = safeFilename(baseName + ext, 100);\n          addToZip(`${aFolder}/${finalName}`, buf);  // Original\n          \n          if (summaryMd && !isHandwritten) {\n            const blocks = [\n              { type: 'header', title: baseName, subtitle: `${cname} · Aufgabe: ${a.name}`, meta: `Original: ${att.filename}` },\n              ...mdToBlocks(summaryMd),\n            ];\n            addToZip(`${aFolder}/${baseName} Zusammenfassung.pdf`, generatePdf(blocks));\n            fileSummaries.push({ filename: finalName, summary: summaryMd });\n          }\n        } catch (e) { console.error(`    Anhang Download fail: ${e.message}`); }\n      }\n      \n      const description = stripHtml(a.intro).slice(0, 5000);\n      const dueStr = a.duedate ? formatDeadline(a.duedate) : '';\n      \n      let shortHint = '';\n      if (!isFromCache) {\n        try { shortHint = await assignmentHintShort(cname, a.name, description); }\n        catch (e) { console.error(`  Hint fail: ${e.message}`); }\n      }\n      \n      let fullBriefing = '';\n      if (isFromCache) {\n        console.log(`  Briefing: ${a.name} (cached)`);\n        fullBriefing = cached.briefingMd;\n        shortHint = cached.shortHint || shortHint;\n      } else {\n        try {\n          console.log(`  Briefing: ${a.name} (NEU)`);\n          fullBriefing = await assignmentBriefingFull(cname, a.name, description, dueStr, fileSummaries);\n        } catch (e) {\n          fullBriefing = `Briefing-Generierung fehlgeschlagen: ${e.message}`;\n        }\n      }\n      \n      // Briefing als PDF mit Header-Box\n      const briefingBlocks = [\n        { type: 'header', title: a.name, subtitle: cname, meta: dueStr ? `Deadline: ${dueStr}` : '' },\n        ...mdToBlocks(fullBriefing),\n        { type: 'divider' },\n        { type: 'link', text: 'In Moodle oeffnen', url: `${BASE_URL}/mod/assign/view.php?id=${a.cmid}` },\n      ];\n      addToZip(`${aFolder}/Briefing.pdf`, generatePdf(briefingBlocks));\n      \n      coursesData[cname].assignments.push({\n        name: a.name,\n        moodle_url: `${BASE_URL}/mod/assign/view.php?id=${a.cmid}`,\n        duedate: a.duedate, shortHint,\n      });\n      seenAssignments[akey] = {\n        duedate: a.duedate,\n        briefingMd: fullBriefing,\n        shortHint: shortHint,\n        cachedAt: NOW_TS,\n      };\n      if (!isFromCache) scanCounter++;\n    }\n  }\n} catch (e) {\n  console.error(`FATAL: ${e.message}`);\n  console.error(e.stack);\n  runError = { message: e.message, stack: e.stack };\n}\n\n// === Output ===\n\nconst totalFiles = Object.values(coursesData).reduce((s, c) => s + c.newFiles.length, 0);\nconst totalAssigns = Object.values(coursesData).reduce((s, c) => s + c.assignments.length, 0);\nconst totalNew = totalFiles + totalAssigns;\nconsole.log(`Total neu: ${totalNew} (${totalAssigns} Aufgaben, ${totalFiles} Dateien)`);\nconsole.log(`Anthropic Kosten dieser Lauf: ~$${_runCostUSD.toFixed(3)} (geschaetzt)`);\n\nif (!runError) {\n  staticData.firstRun = false;\n  staticData.lastRun = NOW.toISOString();\n  staticData.stats = { assignments: totalAssigns, files: totalFiles };\n}\n\nlet zipBuffer, zipFilename;\nif (runError) {\n  const errBuf = Buffer.from(`Fehler beim Lauf vom ${DATE_DE}\\n\\n${runError.message}\\n\\n${runError.stack}`, 'utf-8');\n  zipFilesArr.unshift({ filename: '_FEHLER.txt', data: errBuf });\n  zipBuffer = buildZip(zipFilesArr);\n  const dStr = `${String(NOW.getDate()).padStart(2,'0')}.${String(NOW.getMonth()+1).padStart(2,'0')}.${NOW.getFullYear()}`;\n  zipFilename = `Moodle Update FEHLER ${dStr}.zip`;\n} else {\n  if (zipFilesArr.length === 0) {\n    zipFilesArr.push({ filename: 'README.txt', data: Buffer.from(`Lauf vom ${DATE_DE}\\n\\nKeine neuen Materialien.\\n`, 'utf-8') });\n  }\n  zipBuffer = buildZip(zipFilesArr);\n  const dStr = `${String(NOW.getDate()).padStart(2,'0')}.${String(NOW.getMonth()+1).padStart(2,'0')}.${NOW.getFullYear()}`;\n  zipFilename = `Moodle Update ${dStr}.zip`;\n}\n\nconst zipMb = zipBuffer.length / 1024 / 1024;\nconsole.log(`ZIP: ${zipFilename} (${zipMb.toFixed(2)} MB, ${zipFilesArr.length} Files)`);\n\nlet html, subject;\nif (runError) {\n  subject = `⚠️ Moodle Bot Fehler — ${DATE_STR}`;\n  html = `<!doctype html><html><body style=\"font-family:-apple-system,sans-serif;max-width:680px;margin:auto;padding:20px;\">\n<h1 style=\"color:#ff3b30;\">⚠️ Moodle Bot Fehler</h1>\n<pre style=\"background:#fee;padding:14px;border-radius:8px;font-size:12px;overflow:auto;\">${htmlEscape(runError.message)}</pre>\n<pre style=\"background:#f5f5f7;padding:14px;border-radius:8px;font-size:11px;overflow:auto;\">${htmlEscape(runError.stack || '')}</pre>\n</body></html>`;\n} else {\n  const totalReadMin = Object.values(coursesData).reduce((s, c) => s + c.newFiles.reduce((a, f) => a + (f.readMin || 0), 0), 0);\n  html = buildEmailHtml(coursesData, totalAssigns, totalFiles, zipMb, zipFilesArr.length > 0, totalReadMin);\n  // Dringlichkeit im Subject: prüfe ob heute/morgen was fällig ist\n  let urgentEmoji = '📚';\n  let urgentNote = '';\n  const allDeadlines = [];\n  for (const c of Object.values(coursesData)) for (const a of c.assignments) if (a.duedate) allDeadlines.push(a.duedate);\n  if (allDeadlines.length) {\n    const minDays = Math.min(...allDeadlines.map(t => daysUntil(t)));\n    if (minDays === 0) { urgentEmoji = '🔥'; urgentNote = ' HEUTE faellig!'; }\n    else if (minDays === 1) { urgentEmoji = '⏰'; urgentNote = ' morgen faellig!'; }\n    else if (minDays <= 3) { urgentEmoji = '⚠️'; urgentNote = ` in ${minDays} Tagen faellig`; }\n  }\n  subject = totalNew > 0\n    ? `${urgentEmoji} Moodle: ${totalAssigns} Aufgabe${totalAssigns===1?'':'n'}, ${totalFiles} Datei${totalFiles===1?'':'en'}${urgentNote}`\n    : `📚 Moodle: keine Updates — ${String(NOW.getDate()).padStart(2,'0')}.${String(NOW.getMonth()+1).padStart(2,'0')}.`;\n}\n\nreturn [{\n  json: {\n    subject, html, totalNew, totalFiles, totalAssigns,\n    error: runError !== null,\n    errorMessage: runError ? runError.message : null,\n  },\n  binary: {\n    attachment: await helpers.prepareBinaryData(zipBuffer, zipFilename, 'application/zip'),\n  },\n}];"
      },
      "id": "7a65427c-76c9-4ba8-b013-2552c5417aaa",
      "name": "Moodle Bot Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "your-email@example.com",
        "toEmail": "your-email@example.com",
        "subject": "={{ $('Moodle Bot Logic').first().json.subject }}",
        "html": "={{ $('Moodle Bot Logic').first().json.html }}",
        "options": {
          "attachments": "attachment"
        }
      },
      "id": "1cad7915-e45d-4fad-941f-0d04853fa845",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "webhookId": "0269bd03-ffd2-4251-83e5-18eb8a366684",
      "credentials": {
        "smtp": {
          "id": "z1CEwNgTZoCsfxfU",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "564acf00-8bea-4670-b130-080929977438",
              "leftValue": "={{ $json.skipped }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        80
      ],
      "id": "1b0d12a9-20a5-4903-9e3a-e0967cbf8f24",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Moodle Bot Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Moodle Bot Logic": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "",
  "tags": []
}